@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Roboto");
*, *::before, *::after {
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

body {
  font-family: "Roboto", sans-serif;
}
body.dark-theme {
  background-color: #2a2a2a;
  color: #f3f3f3;
}
body.dark-theme #creation, body.dark-theme #contact {
  background-color: #242424;
  border-color: #2a2a2a;
}

.nav-scrolled {
  background-color: #2a2a2a;
  transform: scale(1);
  box-shadow: 0 3px 4px 2px rgba(42, 42, 42, 0.3);
}
.dark-theme .nav-scrolled {
  background-color: #1d1d1d;
}

.on-bottom {
  background-color: #db9240;
  color: #2a2a2a;
}
.on-bottom #brand, .on-bottom #brand:hover a:first-child {
  color: #2a2a2a;
}
.on-bottom li:not(#brand) a::after, .on-bottom li:not(#brand) a::before {
  background-color: #2a2a2a;
}
.dark-theme .on-bottom {
  background-color: #2f2f2f;
  color: #f3f3f3;
}
.dark-theme .on-bottom #brand, .dark-theme .on-bottom #brand:hover a:first-child {
  color: #edc63e;
}

.slick-arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  border-radius: 50%;
}
.slick-arrow-prev, .slick-arrow-next {
  color: #2a2a2a;
}
.slick-arrow-next {
  right: 20%;
}
.slick-arrow-prev {
  left: 20%;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.text-white, .close-modal * {
  color: #f3f3f3;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.close-modal {
  line-height: 50px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
}
box-icon[position=left] {
  margin-right: 5px;
}
box-icon[position=center] {
  margin: 0 5px;
}
box-icon[position=right] {
  margin-left: 5px;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  50% {
    border-color: #db9240;
  }
}
nav {
  text-transform: uppercase;
  transition: all 150ms;
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  padding: 0 15px;
  color: #ebebeb;
}
nav ul {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  justify-content: flex-start;
  width: 100%;
}
nav ul #brand {
  text-align: left;
  color: #2a2a2a;
  font-style: normal;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "Kaushan Script";
  order: -2;
  height: 60px;
  padding: 0;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #edc63e;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul #brand box-icon {
  text-align: left;
  color: #2a2a2a;
  font-style: normal;
  font-size: 25px;
  font-weight: bolder;
  font-family: inherit;
}
nav ul li:hover a {
  color: #edc63e;
}
nav ul li:not(#brand) {
  display: flex;
  align-items: center;
  height: 0;
  transition: all 150ms;
  overflow: hidden;
}
nav ul li:not(#brand) a {
  width: 100%;
  height: 100%;
  transition: all 150ms;
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
}
nav ul li:not(#brand).show-menu {
  height: 55px;
}
nav ul a:first-child {
  padding-left: 0 !important;
}

header {
  background-image: url("img/header.webp");
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: #2a2a2a;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1, header h2 {
  text-shadow: 2px 2px 3px rgba(42, 42, 42, 0.4);
}
header h1 {
  text-align: left;
  color: #ebebeb;
  font-style: italic;
  font-size: 38px;
  font-weight: bold;
  font-family: inherit;
  position: relative;
  padding: 0 10px;
  overflow-x: hidden;
  border-right: 4px solid transparent;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  animation: typing 2.5s steps(30, end), blink-caret 700ms step-end 5;
}
header h2 {
  margin-top: 15px;
  font-size: 17px;
  color: #ebebeb;
  overflow: hidden;
  max-height: 0;
  transition: all 250ms;
}
header .text-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: auto;
  top: 30px;
}
header a {
  margin-top: 30px;
  color: #f3f3f3;
  text-transform: uppercase;
  padding: 0 25px;
  height: 50px;
  border-radius: 5px;
  transition: all 150ms;
  display: flex;
  align-items: center;
  background-color: #edc63e;
}
.dark-theme header a {
  background-color: #db9240;
}
header a i {
  margin-left: 10px;
}
header a:hover {
  background-color: #ebbf27;
}
.dark-theme header {
  background-color: #1d1d1d;
}

main section {
  overflow: hidden;
  padding: 75px 0;
}
main section h2:first-child {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
  font-weight: bold;
  font-size: 35px;
  height: 45px;
  margin-bottom: 75px;
}
.dark-theme main section h2:first-child {
  color: #f3f3f3;
}
main section:not(#skills) figure ~ figure {
  margin-top: 50px;
}
main section + #theme-toggle {
  background-color: #505050;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #f3f3f3;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.dark-theme main section + #theme-toggle {
  background-color: #f3f3f3;
  color: #2a2a2a;
}
main #skills .skills__item {
  width: 100%;
  text-align: center;
}
main #skills .skills__item ~ .skills__item {
  margin-top: 40px;
}
main #skills .skills__item img {
  display: inline-block;
}
main #skills .skills__item figcaption {
  text-transform: capitalize;
  margin: 10px 0 15px 0;
  font-size: 27px;
  font-weight: 500;
}
main #skills .skills__item .slick-arrow {
  background-color: #db9240;
}
main #creation {
  border-top: 1px solid #dedede;
  background-color: #ebebeb;
}
main #creation .creation-item {
  position: relative;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 4px 1px rgba(42, 42, 42, 0.25);
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
main #creation .creation-item:not(:nth-of-type(-n+3)) img {
  object-position: top;
  object-fit: cover;
}
main #creation .creation-item > img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  margin: initial auto -4px auto;
}
main #creation .creation-item figcaption {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 20px 20px;
  border-top: 2px solid #d2d2d2;
  background-color: #df9e55;
  color: #f3f3f3;
}
main #creation .creation-item figcaption h3 {
  margin-bottom: 15px;
}
main #creation .creation-item figcaption h3 a {
  padding-bottom: 5px;
  border-bottom: 2px solid #daebf8;
}
main #creation .creation-item__preview {
  margin-bottom: auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: flex-start;
}
main #creation .creation-item__preview small {
  margin-top: 0.6rem;
  text-orientation: mixed;
}
main #creation .creation-item__btn {
  background-color: #edc63e;
  margin-top: 1rem;
  font-weight: bold;
  border: 1px solid #cca213;
  color: #f3f3f3;
  padding-top: 6px;
  padding-bottom: 6px;
  display: inline-flex;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(35, 35, 35, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms;
}
main #creation .creation-item__btn:hover {
  background-color: #ebbf27;
}
main #creation .creation-item__btn:active {
  background-color: #e3b515;
}
main #creation .creation-item-detail {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f3f3f3;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  justify-content: flex-start;
  left: 0;
  position: absolute;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
}
main #creation .creation-item-detail.active {
  opacity: 1;
  visibility: visible;
}
main #creation .creation-item-detail__menu {
  height: 50px;
  width: 100%;
  display: flex;
}
main #creation .creation-item-detail__menu a {
  flex-grow: 1;
  line-height: 50px;
  text-align: center;
  position: relative;
}
main #creation .creation-item-detail__menu a:hover::after, main #creation .creation-item-detail__menu a.active::after {
  opacity: 1;
}
main #creation .creation-item-detail__menu a::after {
  background-color: #f3f3f3;
  content: "";
  height: 2px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  opacity: 0;
  transition: all 150ms;
  position: absolute;
}
main #creation .creation-item-detail__content {
  height: calc(100% - 50px);
  position: relative;
}
main #creation .creation-item-detail__box {
  padding-top: 1rem;
  transition: all 150ms;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0;
}
main #creation .creation-item-detail__box .slick-arrow {
  background-color: rgba(0, 0, 0, 0.25);
}
main #creation .creation-item-detail__box .slick-arrow box-icon {
  color: #f3f3f3;
}
main #creation .creation-item-detail__box > img:not(:last-of-type) {
  margin-right: 1rem;
}
main #creation .creation-item-detail__box.active {
  z-index: 1;
  opacity: 1;
}
main #creation .section__notes {
  display: block;
  width: 100%;
  height: 60px;
  color: #791386;
  line-height: 60px;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}
.dark-theme main #creation .section__notes {
  color: #edc63e;
}
main #about ul {
  position: relative;
}
main #about ul::before {
  content: "";
  position: absolute;
  left: 30px;
  top: 0;
  height: 100%;
  width: 1.5px;
  background-color: #ebebeb;
}
main #about ul li {
  margin-bottom: 30px;
  padding-left: 88px;
  position: relative;
}
main #about ul li .bx {
  display: none;
}
main #about ul li h3, main #about ul li p {
  text-align: left;
}
main #about ul li img {
  left: 0;
  position: absolute;
  box-shadow: 0 0 1px 4px #ebebeb, 0 0 1px 6px #c5c5c5;
  border-radius: 50%;
}
main #about ul li h3 {
  margin-bottom: 15px;
}
main #about ul li h3 a {
  color: #2074b3;
}
main #contact {
  background-color: #2a2a2a;
}
main #contact h2 {
  color: #edc63e;
}
main #contact ul {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  justify-content: flex-start;
}
main #contact ul li {
  color: #edc63e;
  flex-grow: 1;
  width: 100%;
  padding: 12px 0;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: all 150ms;
  margin-bottom: 25px;
}
main #contact ul li:first-child {
  margin-right: 10px;
}
main #contact ul li:nth-child(2) {
  margin-left: 10px;
}
main #contact ul li:nth-child(-n+2) {
  width: calc(50% - 10px);
}
main #contact ul li:hover {
  background-color: #f8f8f8;
  color: #111111;
}
.dark-theme main #contact ul li:hover {
  background-color: #373737;
  color: #edc63e;
}
main #contact ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}
main #contact address {
  color: #c5c5c5;
  text-align: center;
  text-shadow: 2px 2px 2px rgba(232, 232, 232, 0.37);
}
main #contact address small {
  margin: 10px 0;
  display: block;
}
main #contact address, main #contact address iframe {
  width: 100%;
}

footer {
  border-top: 1px solid #2a2a2a;
  background-color: #2a2a2a;
  height: 60px;
  color: #ebebeb;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  nav {
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    font-size: 14px;
    transform: scale(1.1);
  }
  nav ul {
    height: 100%;
    justify-content: center;
    flex-direction: row;
  }
  nav ul #brand {
    font-size: 1.5em;
    height: 80px;
    order: 0;
  }
  nav ul #brand box-icon {
    display: none;
  }
  nav ul li:not(#brand) {
    height: auto !important;
  }
  nav ul li:not(#brand) a {
    width: auto;
    height: auto;
    position: relative;
  }
  nav ul li:not(#brand) a::before {
    left: 50%;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -12px;
    background-color: #edc63e;
    transition: all 150ms;
  }
  nav ul li:not(#brand) a::after {
    right: 50%;
    content: "";
    display: block;
    height: 2px;
    width: 0;
    position: absolute;
    bottom: -12px;
    background-color: #edc63e;
    transition: all 150ms;
  }
  nav ul li:not(#brand) a:hover::after, nav ul li:not(#brand) a:hover::before {
    width: 50%;
  }
  nav ul li:not(:last-child) {
    margin-right: 20px;
  }
  nav ul li:hover a {
    color: inherit;
  }

  header {
    background-attachment: fixed;
    height: 100vh;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 25px;
  }

  main section {
    padding: 110px 0;
  }
  main section figure ~ figure {
    margin-top: 0;
  }
  main section:not(#skills) figure ~ figure {
    margin-top: 0;
  }
  main #skills .skills__item {
    width: calc(100% / 3);
  }
  main #skills .skills__item:nth-of-type(n+4) {
    margin-top: 60px !important;
  }
  main #skills .skills__item:not(:nth-of-type(n+4)) {
    margin-top: 0;
  }
  main #creation .creation-item {
    opacity: 0;
    margin-right: 25px;
    width: calc(100% / 3 - 25px);
  }
  main #creation .creation-item:nth-child(3n+3) {
    margin-right: 0;
    width: calc(100% / 3);
  }
  main #creation .creation-item:nth-child(n+4) {
    margin-top: 50px;
  }
  main #about ul {
    width: 80%;
    margin: 0 auto;
  }
  main #about ul::before {
    display: none;
  }
  main #about ul li {
    z-index: 1;
    opacity: 0;
    width: 50%;
  }
  main #about ul li:nth-child(odd) {
    padding: 0 15px 0 88px;
    left: -15%;
    transform: translateX(-100%);
  }
  main #about ul li:nth-child(odd)::after {
    z-index: -1;
    right: -50%;
    bottom: 0;
    border-top-right-radius: 15px;
    border-top: 2px solid #db9240;
    border-right: 2px solid #db9240;
  }
  main #about ul li:nth-child(odd) .bx {
    transform: translateX(calc(50% - 2px));
    right: -50%;
  }
  main #about ul li:nth-child(even) {
    padding: 0 88px 0 15px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 0;
    justify-content: flex-start;
    right: -15%;
    transform: translateX(200%);
  }
  main #about ul li:nth-child(even) .bx {
    left: -50%;
    transform: translateX(calc(-50% + 2px));
  }
  main #about ul li:nth-child(even)::before {
    left: -50%;
    border-top-left-radius: 15px;
    border-top: 2px solid #db9240;
    border-left: 2px solid #db9240;
  }
  main #about ul li:nth-child(even) img {
    left: auto;
    right: 0;
  }
  main #about ul li:not(:last-child)::after, main #about ul li:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
  }
  main #about ul li address {
    display: inline-block;
  }
  main #about ul li .bx {
    display: inline-block;
    position: absolute;
    font-size: 25px;
    color: #db9240;
    z-index: 2;
    bottom: -15.5px;
  }
  main #about ul li h3, main #about ul li p {
    text-align: inherit;
  }
  main #contact ul li {
    flex-grow: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  main #contact ul li:nth-child(-n+2), main #contact ul li:nth-child(4), main #contact ul li:nth-child(5) {
    width: calc(50% - 10px);
  }
  main #contact ul li:nth-child(4) {
    margin-right: 10px;
  }
  main #contact ul li:nth-child(5) {
    margin-left: 10px;
  }
  main #contact ul li a {
    padding: 17px 0;
    font-size: 21px;
  }
  main #contact address {
    text-align: left;
  }
}

/*# sourceMappingURL=porto.css.map */
