@use "color";

@mixin linkIndicator {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: -12px;
  background-color: color.$yellow;
  transition: all 150ms;
}
@mixin flexAttribute($display, $direction: row, $alignItem: stretch, $justify: flex-start, $wrap: nowrap, $grow: 0) {
  display: $display;
  align-items: $alignItem;
  flex: {
    direction: $direction;
    wrap: $wrap;
    grow: $grow;
  };
  justify-content: $justify;
}
@mixin flexCenterCrossAxis {
  display: flex;
  align-items: center;
}
@mixin inlineFlexCenterCrossAxis {
  display: flex;
  align-items: center;
}
@mixin flexCenterMainAxis {
  display: flex;
  justify-content: center;
}
@mixin flexCenterAllAxis {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin marginPadding($mgl: 0, $mgt: 0, $mgr: 0, $mgb: 0, $pdl: 0, $pdt: 0, $pdr: 0, $pdb: 0) {
  margin: {
    left: $mgl;
    top: $mgt;
    right: $mgr;
    bottom: $mgb;
  }
  padding: {
    left: $pdl;
    top: $pdt;
    right: $pdr;
    bottom: $pdb;
  };
}
@mixin sameDimension($size) {
  width: $size;
  height: $size;
}
@mixin textAttribute($size: 1em, $weight: normal, $style: normal, $family: inherit, $color: color.$black, $align: left) {
  text-align: $align;
  color: $color;
  font: {
    style: $style;
    size: $size;
    weight: $weight;
    family: $family;
  }
}
@mixin btnNormal($textColor) {
  @if $textColor == 'light' {
    color: color.$almostWhite;
  }
  @else if $textColor == 'dark' {
    color: color.$black;
  }
  @else {
    color: $textColor;
  }
  padding: {
    top: 6px;
    bottom: 6px;
  }
  display: inline-flex;
  justify-content: center;
  box-shadow: 1px 2px 3px rgba(35, 35, 35, 0.4);
  border-radius: 5px;
  cursor: pointer;
  transition: all 150ms;
}