@use "color";
@use "mixin";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Open+Sans|Roboto');

*, *::before, *::after {
  box-sizing: border-box;
  @include mixin.marginPadding();
  list-style-type: none;
  text-decoration: none;
  outline: none;
  scroll-behavior: smooth;
}
a {
  color: inherit;
}
body {
  font-family: 'Roboto', sans-serif;

  &.dark-theme {
    background-color: color.$black;
    color: color.$almostWhite;

    #creation, #contact {
      background-color: rgb(36, 36, 36);
      border-color: color.$black;
    }
  }
}

.nav-scrolled {
  background-color: color.$black;
  transform: scale(1);
  box-shadow: 0 3px 4px 2px rgba(color.$black, 0.3);

  .dark-theme & {
    background-color: darken(color.$black, 5%);
  }
}
.on-bottom {
  $elementAffectedOnBottom: '#brand, #brand:hover a:first-child';

  background-color: color.$orange;
  color: color.$black;

  #{$elementAffectedOnBottom} {
    color: color.$black;
  }

  li:not(#brand) a::after, li:not(#brand) a::before {
    background-color: color.$black;
  }

  .dark-theme & {
    background-color: lighten(color.$black, 2%);
    color: color.$almostWhite;

    #{$elementAffectedOnBottom} {
      color: color.$yellow;
    }
  }
}

.slick-arrow {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  @include mixin.sameDimension(30px);
  @include mixin.flexCenterAllAxis();
  background-color: lighten(color.$black, 70%);
  border-radius: 50%;

  &-prev, &-next {
    color: color.$black;
  }
  &-next {
    right: 20%;
  }
  &-prev {
    left: 20%;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.text-white {
  color: color.$almostWhite;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.close-modal {
  line-height: 50px;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  * {
    @extend .text-white;
  }
}

box-icon {
  &[position='left'] {
    margin-right: 5px;
  }
  &[position='center'] {
    margin: 0 5px;
  }
  &[position='right'] {
    margin-left: 5px;
  }
}