@use "general";
@use "color";
@use "animation";
@use "mixin";

nav {
  text-transform: uppercase;
  transition: all 150ms;
  z-index: 3;
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  padding: 0 15px;
  color: color.$grey;

  ul {
    @include mixin.flexAttribute(flex, column);
    width: 100%;

    #brand {
      @include mixin.textAttribute(1.2em, $weight: bolder, $family: 'Kaushan Script');
      order: -2;
      height: 60px;
      padding: 0;
      text-transform: capitalize;
      letter-spacing: 1px;
      color: color.$yellow;
      @include mixin.inlineFlexCenterCrossAxis;
      justify-content: space-between;

      box-icon {
        @include mixin.textAttribute($size: 25px, $weight: bolder);
      }
    }

    li:hover a {
      color: color.$yellow;
    }
    li:not(#brand) {
      @include mixin.flexCenterCrossAxis;
      height: 0;
      transition: all 150ms;
      overflow: hidden;

      a {
        @include mixin.sameDimension(100%);
        transition: all 150ms;
        font-family: 'Open Sans', sans-serif;
        @include mixin.flexCenterCrossAxis;
      }

      &.show-menu {
        height: 55px;
      }
    }

    a:first-child {
      padding-left: 0 !important;
    }
  }
}
header {
  background-image: url('img/header.webp');
  height: 60vh;
  background: {
    size: cover;
    repeat: no-repeat;
    blend-mode: overlay;
    color: color.$black;
    position: center center;
  }
  @include mixin.flexCenterAllAxis;
  h1, h2 {
    text-shadow: 2px 2px 3px rgba(color.$black, 0.4);
  }
  h1 {
    @include mixin.textAttribute($size: 38px, $style: italic, $color: color.$grey, $weight: bold);
    position: relative;
    padding: 0 10px;
    overflow-x: hidden;
    border-right: 4px solid transparent; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    animation: typing 2.5s steps(30, end), blink-caret 700ms step-end 5;
  }
  h2 {
    margin-top: 15px;
    font-size: 17px;
    color: color.$grey;
    overflow: hidden;
    max-height: 0;
    transition: all 250ms;
  }
  .text-header {
    @include mixin.flexCenterCrossAxis;
    flex-direction: column;
    position: relative;
    width: auto;
    top: 30px;
  }
  a {
    margin-top: 30px;
    color: color.$almostWhite;
    text-transform: uppercase;
    padding: 0 25px;
    height: 50px;
    border-radius: 5px;
    transition: all 150ms;
    @include mixin.inlineFlexCenterCrossAxis;
    background-color: color.$yellow;

    .dark-theme & {
      background-color: color.$orange;
    }

    i {
      margin-left: 10px;
    }

    &:hover {
      background-color: darken(color.$yellow, 5%);
    }
  }

  .dark-theme & {
    background-color: darken(color.$black, 5%);
  }

}
main {
  section {
    overflow: hidden;
    padding: 75px 0;

    h2:first-child {
      width: 100%;
      text: {
        align: center;
        transform: uppercase;
      }
      color: color.$black;
      font: {
        weight: bold;
        size: 35px;
      }
      height: 45px;
      margin-bottom: 75px;

      .dark-theme & {
        color: color.$almostWhite;
      }
    }

    &:not(#skills) {
      figure ~ figure {
        margin-top: 50px;
      }
    }

    + #theme-toggle {
      background-color: lighten(color.$black, 15%);
      box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
      @include mixin.sameDimension(50px);
      @include mixin.flexCenterAllAxis;
      border-radius: 50%;
      color: color.$almostWhite;
      position: fixed;
      bottom: 20px;
      right: 20px;

      .dark-theme & {
        background-color: color.$almostWhite;
        color: color.$black;
      }
    }
  }

  #skills {
    .skills__item {
      width: 100%;
      text-align: center;

      ~ .skills__item {
        margin-top: 40px;
      }

      img {
        display: inline-block;
      }

      figcaption {
        text-transform: capitalize;
        margin: 10px 0 15px 0;
        font: {
          size: 27px;
          weight: 500;
        }
      }

      .slick-arrow {
        background-color: color.$orange;
      }
    }
  }
  #creation {
    border-top: 1px solid darken(color.$grey, 5%);
    background-color: color.$grey;

    .creation-item {
      position: relative;
      @include mixin.flexAttribute(flex, column);
      width: 100%;
      overflow: hidden;
      box-shadow: 1px 1px 4px 1px rgba(color.$black, 0.25);
      border: 1px solid darken(color.$grey, 15%) {
        radius: 5px;
      }

      &:not(:nth-of-type(-n+3)) img {
        object: {
          position: top;
          fit: cover;
        }
      }

      > img {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
        margin: initial auto -4px auto;
      }
      figcaption {
        @include mixin.flexAttribute(flex, column, $grow: 1);
        padding: 20px 20px;
        border-top: 2px solid darken(color.$grey, 10%);
        background-color: lighten(color.$orange, 5%);
        color: color.$almostWhite;

        h3 {
          margin-bottom: 15px;

          a {
            padding-bottom: 5px;
            border-bottom: 2px solid lighten(color.$blue, 50%);
          }
        }
      }

      &__preview {
        margin-bottom: auto;
        @include mixin.flexAttribute(flex, column, $wrap: wrap);

        small {
          margin-top: 0.6rem;
          text-orientation: mixed;
        }
      }

      &__btn {
        background-color: color.$yellow;
        margin-top: 1rem;
        font-weight: bold;
        border: 1px solid darken(color.$yellow, 15%);
        @include mixin.btnNormal('light');

        &:hover {
          background-color: darken(color.$yellow, 5%);
        }
        &:active {
          background-color: darken(color.$yellow, 10%);
        }
      }

      &-detail {
        background-color: rgb(0, 0, 0, 0.8);
        color: color.$almostWhite;
        @include mixin.sameDimension(100%);
        top: 0;
        @include mixin.flexAttribute(flex, column);
        left: 0;
        position: absolute;
        padding: 0 1rem;
        opacity: 0;
        visibility: hidden;

        &.active {
          opacity: 1;
          visibility: visible;
        }

        &__menu {
          height: 50px;
          width: 100%;
          display: flex;

          a {
            flex-grow: 1;
            line-height: 50px;
            text-align: center;
            position: relative;

            &:hover::after, &.active::after {
              opacity: 1;
            }

            &::after {
              background-color: color.$almostWhite;
              content: '';
              height: 2px;
              bottom: 0;
              left: 50%;
              transform: translateX(-50%);
              width: 20%;
              opacity: 0;
              transition: all 150ms;
              position: absolute;
            }
          }
        }
        &__content {
          height: calc(100% - 50px);
          position: relative;
        }
        &__box {
          padding-top: 1rem;
          transition: all 150ms;
          @include mixin.sameDimension(100%);
          top: 0;
          left: 0;
          position: absolute;
          opacity: 0;

          .slick-arrow {
            background-color: rgba(0, 0, 0, 0.25);

            box-icon {
              color: color.$almostWhite;
            }
          }

          > img:not(:last-of-type) {
            margin-right: 1rem;
          }

          &.active {
            z-index: 1;
            opacity: 1;
          }
        }
      }
    }

    .section__notes {
      display: block;
      width: 100%;
      height: 60px;
      color: color.$purple;
      line-height: 60px;
      font-weight: bold;
      text: {
        transform: capitalize;
        align: center;
      }

      .dark-theme & {
        color: color.$yellow;
      }
    }
  }
  #about ul {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 30px;
      top: 0;
      height: 100%;
      width: 1.5px;
      background-color: color.$grey;
    }


    li {
      margin-bottom: 30px;
      padding-left: 88px;
      position: relative;

      .bx {
        display: none;
      }
      h3, p {
        text-align: left;
      }
      img {
        left: 0;
        position: absolute;
        box-shadow: 0 0 1px 4px color.$grey, 0 0 1px 6px darken(color.$grey, 15%);
        border-radius: 50%;
      }
      h3 {
        margin-bottom: 15px;

        a {
          color: color.$blue;
        }
      }
    }
  }
  #contact {
    background-color: color.$black;

    h2 {
      color: color.$yellow;
    }

    ul {
      @include mixin.flexAttribute(flex, $wrap: wrap);

      li {
        color: color.$yellow;
        flex-grow: 1;
        width: 100%;
        padding: 12px 0;
        font-weight: bold;
        border: 2px solid #fff {
          radius: 4px;
        }
        transition: all 150ms;
        margin-bottom: 25px;

        &:first-child {
          margin-right: 10px;
        }
        &:nth-child(2) {
          margin-left: 10px;
        }
        &:nth-child(-n+2) {
          width: calc(50% - 10px);
        }
        &:hover {
          background-color: lighten(color.$grey, 5%);
          color: darken(color.$black, 10%);

          .dark-theme & {
            background-color: lighten(color.$black, 5%);
            color: color.$yellow;
          }
        }

        a {
          @include mixin.flexCenterAllAxis;
        }
      }
    }
    address {
      color: darken(color.$grey, 15%);
      text: {
        align: center;
        shadow: 2px 2px 2px rgba(232, 232, 232, 0.37);
      }

      small {
        margin: 10px 0;
        display: block;
      }
    }
    address, address iframe {
      width: 100%;
    }
  }
}
footer {
  border-top: 1px solid color.$black;
  background-color: color.$black;
  height: 60px;
  color: color.$grey;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
}

@media screen and (min-width: 768px){
  nav {
    box-shadow: none;
    background-color: transparent;
    height: 80px;
    font-size: 14px;
    transform: scale(1.1);

    ul {
      height: 100%;
      justify-content: center;
      flex-direction: row;

      #brand {
        font-size: 1.5em;
        height: 80px;
        order: 0;

        box-icon {
          display: none;
        }
      }
      li {
        &:not(#brand) {
          height: auto !important;

          a {
            @include mixin.sameDimension(auto);
            position: relative;

            &::before {
              left: 50%;
              @include mixin.linkIndicator;
            }
            &::after {
              right: 50%;
              @include mixin.linkIndicator;
            }

            &:hover::after, &:hover::before {
              width: 50%;
            }
          }
        }
        &:not(:last-child) {
          margin-right: 20px;
        }
        &:hover {
          a {
            color: inherit;
          }
        }
      }

    }
  }
  header {
    background-attachment: fixed;
    height: 100vh;

    h1 {
      font-size: 50px;
    }
    h2 {
      font-size: 25px;
    }
  }
  main {
    section {
      padding: 110px 0;

      figure ~ figure {
        margin-top: 0;
      }

      &:not(#skills) {
        figure ~ figure {
          margin-top: 0;
        }
      }
    }
    #skills {
      .skills__item {
        width: calc(100% / 3);

        &:nth-of-type(n+4) {
          margin-top: 60px !important;
        }
        &:not(:nth-of-type(n+4)) {
          margin-top: 0;
        }
      }
    }
    #creation {
      .creation-item {
        opacity: 0;
        margin-right: 25px;
        width: calc(100% / 3 - 25px);

        &:nth-child(3n+3) {
          margin-right: 0;
          width: calc(100% / 3);
        }
        &:nth-child(n+4) {
          margin-top: 50px;
        }
      }
    }
    #about ul {
      width: 80%;
      margin: 0 auto;

      &::before {
        display: none;
      }

      li {
        z-index: 1;
        opacity: 0;
        width: 50%;

        &:nth-child(odd) {
          padding: 0 15px 0 88px;
          left: -15%;
          transform: translateX(-100%);

          &::after {
            z-index: -1;
            right: -50%;
            bottom: 0;
            border: {
              top-right-radius: 15px;
              top: 2px solid color.$orange;
              right: 2px solid color.$orange;
            }
          }
          .bx {
            transform: translateX(calc(50% - 2px));
            right: -50%;
          }
        }
        &:nth-child(even) {
          padding: 0 88px 0 15px;
          @include mixin.flexAttribute(flex, column);
          right: -15%;
          transform: translateX(200%);

          .bx {
            left: -50%;
            transform: translateX(calc(-50% + 2px));
          }
          &::before {
            left: -50%;
            border: {
              top-left-radius: 15px;
              top: 2px solid color.$orange;
              left: 2px solid color.$orange;
            }
          }

          img {
            left: auto;
            right: 0;
          }
        }
        &:not(:last-child)::after, &:not(:last-child)::before {
          content: '';
          position: absolute;
          @include mixin.sameDimension(50%);
          bottom: 0;
        }

        address {
          display: inline-block;
        }
        .bx {
          display: inline-block;
          position: absolute;
          font-size: 25px;
          color: color.$orange;
          z-index: 2;
          bottom: -15.5px;
        }
        h3, p {
          text-align: inherit;
        }
      }
    }
    #contact {
      ul li {
        flex-grow: 0;
        padding: 0;
        margin-bottom: 40px;

        &:nth-child(-n+2), &:nth-child(4), &:nth-child(5) {
          width: calc(50% - 10px);
        }

        &:nth-child(4) {
          margin-right: 10px;
        }
        &:nth-child(5) {
          margin-left: 10px;
        }

        a {
          padding: 17px 0;
          font-size: 21px;
        }
      }
      address {
        text-align: left;
      }
    }
  }
}
